
body {
    margin: 0;
    font-family: Poppins;
  }


  
  #left {
    position: fixed;
    /* background-color: green; */
    width: 50%;
    height: 90%;
    overflow: auto;
    right: 0;
    padding: 20px;
  }
  
  #right {
    position: fixed;
    /* background-color: red; */
    width: 50%;
    height: 90%;
    left: 0;
    overflow: auto;
    padding: 20px;

  }

  .ad_head{
    text-align: center;
    padding: 10px;
    margin: 10px;
    background: cornflowerblue;
    border-radius: 10px;
    font-weight: bold;
    font-family: Poppins;
    color: #eee;
  }

  .question small{
    font-size: 10px;
    color: rgb(122, 121, 121);
  }

  .question .q{
    color: blue;
  }

  .q-count{
    font-family: Poppins;
    color: red;
    font-size: 20px;
  }