:root {
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #007bff;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
}
.swal2-container {
  font-family: "poppins", Kalpurush;
}

mjx-texatom,
mjx-math {
  font-size: 18px;
}
.top {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 10px;
  font-family: poppins;
  background: #fff;
  font-weight: bold;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.top .icon img {
  height: 30px;
}

.top .user img {
  height: 30px;
}

body {
  font-family: "poppins", Hind Siliguri;
}

#app {
  margin-top: 35px;
  padding-top: 20px;
}

.body{
  padding-left: 10px;
  padding-right: 10px;
}

.kalpurush {
  font-family: "poppins", Kalpurush;
}

.siliguri {
  font-family: "poppins", Hind Siliguri;
}

.q-card,
.live-card {
  padding: 5px;
  border-radius: 5px;
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}

#live_countdown{
  font-size: 13px;
  font-weight: normal;
}

.grad-1 {
  background: #f857a6;
  background: -webkit-linear-gradient(to right, #ff5858, #81194b);
  background: linear-gradient(
    to right,
    #9631c5,
    #b11aa9,
    rgb(185, 16, 109),
    rgb(197, 11, 135)
  );
}

.q-card .question {
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  color: #fff;
  font-weight: 900;
  font-family: Kalpurush;
}

.q-card .options {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.q-card .option {
  font-family: Kalpurush;
  text-align: center;
}

.q-card .option {
  flex: 50%;
  margin: 3px;
  padding: 2px;
  /* padding-left: 10px; */
  border-radius: 3px;
  background: #fff;
  /* border: 1px solid #eee; */
  font-size: 13px;
}

.more {
  font-family: poppins;
}

.live-card {
  text-align: center;
  position: relative;
  overflow: hidden;
  z-index: 1;
  background: #222;
  color: #fff;
}

.live-card .title {
  font-weight: bold;
  font-size: 17px;
  color: #039be5;
}

.live-card .time{
  font-size: 13px;
}

.live-card .details {
  font-size: 12px;
  text-decoration: underline;

}

.live-card  a{
  color: #eee !important;
  text-decoration: underline !important;
  font-size: 13px;
}





.live-card .live-bg {
  position: absolute;
  /* bottom: 0px; */
  left: 3px;
  z-index: -1;
}

.live-card .badge{
  position: absolute;
  right: 0px;
  top: 0px;
  font-size: 10px;
}

.live-card .badge img{
  height: 25px;
}


.live-bg img {
  height: 80px;
}

.section {
  margin-bottom: 20px;
}

.sec-sec1 {
  display: flex;
  gap: 10px;
}
.section-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.section-heading .more {
  font-size: 13px;
  color: black;
  /* text-decoration: underline; */
  cursor: pointer;
}

.section-heading .icon img {
  height: 27px;
}

.section-heading .text {
  font-size: 17px;
  /* font-weight: bold; */
  font-family: poppins;
}

.sub-sq {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  min-width: 70px;
}

.sub-sq .icon img {
  height: 40px;
}

.sub-sq .title {
  font-size: 11px;
  font-weight: bold;
}

.horz-scroll {
  display: flex;
  /* gap: 15px; */
  width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
  padding: 10px;
}

button {
  font-family: poppins !important;
}

.button-custom {
  padding: 5px;
  font-family: poppins;
  color: #fff;
  background: #c04848; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #480048,
    #c04848
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #480048,
    #c04848
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  width: 130px;
  font-size: 14px;
  border-radius: 5px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  margin-top: 10px;
}

/* width */
::-webkit-scrollbar {
  width: 4px;
  height: 2px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 50px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: linear-gradient(45deg, rgb(61, 14, 189), rgb(224, 59, 155));
  border-radius: 50px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.course-card {
  display: flex;
  gap: 30px;
  align-items: center;
  padding: 10px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 10px;
  background: #222;
  color: #eee;
}

.course-card .photo img {
  height: 60px;
}

.course-card .title {
  font-size: 16px;
  font-weight: bold;
}

.course-card .sub-title {
  font-size: 12px;
}

.del {
  color: rgb(163, 158, 158);
}

.discount {
  color: crimson;
  font-size: 15px;
  font-weight: bold;
}

.fee {
  color: rgb(46, 138, 46);
}

.vert-scroll {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

a {
  text-decoration: none !important;
  color: #222 !important;
}

select {
  font-family: "Kalpurush", poppins !important;
}

optgroup,
option,
form {
  font-family: "Kalpurush", poppins !important;
}

.exam_thumbnail {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  margin-top: 10px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px,
    rgb(209, 213, 219) 0px 0px 0px 1px inset;
  border-radius: 5px;
}

.exam_thumbnail .title {
  font-size: 18px;
  font-weight: bold;
}

.exam_thumbnail .icon {
  font-size: 30px;
  height: 40px;
  min-width: 40px;
  background: #5c258d;
  background: -webkit-linear-gradient(to right, #4389a2, #5c258d);
  background: linear-gradient(to right, #e43a7b, #5c258d);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.exam_thumbnail .details .time {
  font-size: 13px;
  font-weight: normal;
}

.load {
  padding: 10px;
  margin: 10px;
}

.countdown {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 18px;
}

.card {
  width: 400px;
  background-color: #fff;
  border: none;
  border-radius: 12px;
}

.card-body label.radio {
  cursor: pointer;
  width: 100%;
}
.card-body label.radio input {
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
  pointer-events: none;
}
.card-body label.radio span {
  padding: 7px 14px;
  border: 2px solid #eee;
  display: inline-block;
  color: #039be5;
  border-radius: 10px;
  width: 100%;
  height: 48px;
  line-height: 27px;
}
.card-body label.radio input:checked + span {
  border-color: #039be5;
  background-color: #81d4fa;
  color: #fff;
  border-radius: 9px;
  height: 48px;
  line-height: 27px;
  font-family: poppins;
}
.card-body .form-control {
  margin-top: 10px;
  height: 48px;
  border: 2px solid #eee;
  border-radius: 10px;
  font-family: 'poppins', Kalpurush;
}
.card-body .form-control:focus {
  box-shadow: none;
  border: 2px solid #039be5;
}
.agree-text {
  font-size: 12px;
}
.terms {
  font-size: 12px;
  text-decoration: none;
  color: #039be5;
}
.confirm-button {
  height: 50px;
  border-radius: 10px;
}

.form-tips{
  font-size: 10px;
  color: var(--orange);
}

.modal-title{
  font-family: poppins, 'Kalpurush' !important;
}

.user-panel{
  display: none;
}

.avatar-circle{
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.avatar-circle img{
  height: 100px;
}

.profile-details{
  text-align: center;
  padding: 10px;
  font-family: 'poppins', Kalpurush;
}

.profile-name{
   font-size: 20px;
}

.profile-inst{
  font-size: 14px;
  color: rgb(99, 96, 96);
}

.warn{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 14px;
}
