.stat-top {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  font-family: "Poppins", Kalpurush;
}

.stat-top .stat-item {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  width: 100px;
  border-radius: 3px;
  padding: 5px;
}

.stat-item .text {
  color: rgb(83, 82, 82);
  font-size: 15px;
}

.stat-item .count {
  font-size: 17px;
}

.profile-top {
  background: rgba(26, 161, 98, 0.233);
  padding: 10px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.profile-bottom {
  padding: 10px;
  font-family: "Poppins", Kalpurush;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background: rgba(35, 26, 161, 0.233);
  height: 60vh;
}

.profile-head {
  padding: 10px;
  font-size: 20px;
}

.profile-bottom .sad {
  margin-top: 10px;
}

 /*
.chartjs-size-monitor,
.chartjs-size-monitor-expand,
.chartjs-size-monitor-shrink {
  position: absolute;
  direction: ltr;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  pointer-events: none;
  visibility: hidden;
  z-index: -1;
}
.chartjs-size-monitor-expand > div {
  position: absolute;
  width: 1000000px;
  height: 1000000px;
  left: 0;
  top: 0;
}
.chartjs-size-monitor-shrink > div {
  position: absolute;
  width: 200%;
  height: 200%;
  left: 0;
  top: 0;
} */

.progress_chart{
    padding: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 5px;
}

.section_title{
 /* padding: 10px; */
 font-family: Hind Siliguri;
 color: rgb(72, 22, 189);
 font-size: 17px;
 font-weight: 400;
 display: flex;
 gap: 10px;
 align-items: center;
 margin-bottom: 10px;

}

.section_title img{
    height: 25px;

}

.exams{
 margin-top: 20px;
 display: flex;
 flex-direction: column;
 gap: 10px;
}

.live_exam_prg{
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 5px;
    border-radius: 5px;
    position: relative;
}

.prg_name{
    font-size: 16px;
}

.prg_date{
    font-size: 10px;
    color: rgb(78, 79, 80);
}

.prg_mark{
    font-size: 20px;
    color: rgb(37, 109, 69);
}

.prg_mark span{
    font-size: 13px;
}

.prg_mark .total{
 font-size: 16px;
 color: rgb(184, 169, 218);
}

.prg_prg{
    position: absolute;
    background: rgba(54, 99, 28, 0.199);
    z-index: -1;
    left: 0;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}



.pie{
  font-family: Hind Siliguri;
  padding: 10px;
  margin: 20px 0px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 10px;
}

.progress_pie{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.chart_state div{
  display: flex;
  gap: 10px;
}


#my_photo{
  display: flex;
  justify-content: center;
  align-items: center;
}


.update_card{
  position: fixed;
  z-index: 999;
  bottom: 60px;
  width: 100%;
  left: 0;
  font-family:  Hind Siliguri;
  background: #fff;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 10px;
  display: none;
}

.up_top{
  display: flex;
  gap: 20px;
  line-height: 13px;
}

.down_up{
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-top: 3px;
}

.up_ver{
  font-size: 10px;
}

.down{
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  min-width: 100px;
  text-align: center;
  border-radius: 4px;
  padding-left: 5px;
  padding-right: 5px;
}

.down_later{
  background: #e0dfe6;
}

.down_now{
  background: rgb(43, 145, 85);
  color: #eee;
}

.up_banner{
  float: right;
  font-size: 13px;
  background: rgb(233, 155, 10);
  padding-left: 5px;
  padding-right: 5px;
  color: #eee;
  border-radius: 3px;
}